body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #f5f5f5;
}

.container{
    width: 1280px;
    height: 500px;
     /* border: red solid 1px;  */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    background-color: #fff;
}

.name{
    font-weight: 300;
    font-size: 36px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px 22px;
    gap: 54px;
    list-style: none;
    border: rgb(0, 0, 0) solid 1px;
}

h1{
    font-family: "inter", sans-serif;
    font-weight: 400;
}

.main{
    background-color: #E2E1E1;
    display: grid;
    grid-template-areas:
    "foto1 foto1 foto2"
    "foto3 foto4 foto2" ;
    padding: 0.8rem;
    
}

.foto1{
    grid-area: foto1;
    margin-right: 13px;
}

.foto2{
    grid-area: foto2;
}

.foto3{
    grid-area: foto3;
}

.foto4{
    grid-area: foto4;
}

.ul{
    padding: 0;
    display: flex;
    list-style: none;
    gap: 1rem;
    align-items: center;
}

.footer{
    background-color: #fff;
    width: 1280px;
    height: 302;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer ul li img{
    width: 25px;
}

.container ul li a{
    text-decoration: none;
    color: black;
}

.name{
    padding: 0;
}