*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 20rem;
    height: 30rem;
    border-radius: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%)); 
    color: white;
}

.result p{
    font-weight: bold;
    font-size: 20px;
}

.result{
    display: flex;
    align-items: center;
    justify-content: center;

  padding-bottom: 2rem;
}

.boll{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;

    width: 10rem;
    height: 10rem;
    border-radius: 10rem;
    background-image: linear-gradient( hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}

.number{
    font-size: 4rem;
    font-weight: bold;
}

.cont{
    color: rgb(124, 101, 145);
    font-weight: bold;
}

.great{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding-top: 3rem;
}

.great-title{
    font-size: 25px;
    font-weight: bold;
}

.txt{
    width: 15rem;
    height: 7rem;

    flex-wrap: wrap;
    text-align: center;

    padding-top: 2rem;
    color: rgb(227, 208, 244);
}

.container02{
    width: 20rem;
    height: 30rem;
    border-radius: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    color: rgb(2, 2, 2);

    box-shadow: 16px 16px 50px 1px rgba(14, 6, 247, 0.2);
    
}

.title{
    color: black;
    font-weight: bold;

    font-size: 20px;
    margin-bottom: 15rem;
    margin-right: 10rem;
    font-family: Arial, Helvetica, sans-serif;
}

.reaction{
    width: 15rem;
    height: 3rem;
    border-radius: 0.7rem;

    background-image: url(../assets/images/icon-reaction.svg);
    background-repeat: no-repeat;
    background-color: rgb(247, 206, 206);
    color: rgb(244, 105, 105);

    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
