* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./img/background.gif);
    background-size: cover;
    height: 100%;
}

.container-fotinhas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 250px 250px 250px;
    align-items: center;
    justify-items: center;
}

.container-fotinhas img {
    object-fit: cover;
    height: 250px;
}


.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 15rem;
    height: 12rem;
}

.bg {
    background-size: cover;
    width: 100%;
}

@media (max-width: 1220px) {
    .container-fotinhas img{
        height: 10rem;
    }
}


@media (max-width: 850px) {
     .container-fotinhas img{
        height: 10rem;
    }
}

@media (max-width: 750px) {
    .container-fotinhas{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 600px){
    .container-fotinhas{
        grid-template-columns: 1fr;
    }
}

